{% extends 'base.html' %}
{% block content %}
      <div class="container py-5">
        <h1>
          <p>
            Посты группы {{ group_title }}
          </p>
        </h1>
        {% for post in group_ten_posts %}
          <article>
            <ul>
              <li>
                Автор: {{ post.author.first_name }} {{ post.author.last_name }},
              </li>
              <li>
                Дата публикации: {{ post.pub_date|date:"d E Y" }}
              </li>
            </ul>      
            <p>
              {{ post.text|safe }}
            </p>         
          </article>
          {% if forloop.last is False %}
            <hr>
          {% endif %}
        {% endfor %}
      </div>  
  {% endblock content%}